<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>

<div id="htmlBit">
<div id="unusedWidgets" class="dragNDrop">
</div>

<div id="intergratedWidgets">
<div id="" class="dragNDrop">
</div>

<div id="" class="dragNDrop">
</div>

<div id="" class="dragNDrop">
</div>

<div id="" class="dragNDrop">
</div>
</div>
</div>

<script>
</script>

<style>
.dragNDrop {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
</style>

</body>
</html>